*         text=auto

*.md      diff=markdown
*.sh      diff=bash

# GitHub Linguist Support
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
.arclint       linguist-language=json
.vscode/*.json linguist-language=jsonc
.yamllint      linguist-language=yaml
